<!DOCTYPE html>

<html>
<head>
  <title><%- title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <!-- OpenGraph -->
    <meta property="og:description" content="A versatile framework to visualize geospatial data in the browser.">
    <meta property="og:image" content="https://giro3d.org/images/giro3d_logo_big.jpg">
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Giro3D - Getting started">
    <meta property="og:site_name" content="Giro3D">
    <meta property="og:type" content="object">
    <meta property="og:url" content="https://giro3d.org/tutorials/getting-started.html">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="A versatile framework to visualize geospatial data in the browser.">
    <meta name="twitter:dnt" content="on">
    <meta name="twitter:image" content="https://giro3d.org/images/giro3d_logo_big.jpg">
    <meta name="twitter:title" content="Giro3D - Getting started">
    <meta name="twitter:widgets:align" content="center">

  <link rel="stylesheet" media="all" href="<%- css %>" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">
    <header class="navbar navbar-expand-lg bg-light sticky-top shadow-sm">

        <div class="container-fluid">


            <a class="navbar-brand" href="#">
                <img src="../../images/giro3d_logo_compact.svg" height="32" class="brand">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Getting started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../examples/index.html">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../apidoc/index.html">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitlab.com/giro3d/giro3D" target="_blank">GitLab</a>
                    </li>
                </ul>

            </div>
        </div>
    </header>

  <div id="container">
    <div id="background"></div>
    <% if (sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page_wrapper">
            <div id="jump_page">
              <% for (var i=0, l=sources.length; i<l; i++) { %>
                <% var source = sources[i]; %>
                <a class="source" href="<%- relative(destination(source)) %>">
                  <%- source %>
                </a>
              <% } %>
            </div>
          </div>
        </li>
      </ul>
    <% } %>
    <ul class="sections">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%- title %></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%- i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
              <div class="sswrap <%- heading ? 'for-' + heading[1] : '' %>">
                <a class="ss" href="#section-<%- i + 1 %>">&#x00a7;</a>
              </div>
              <%- section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%- section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>

    <!-- 3D view -->
    <div class="border m-4 position-relative">
        <!-- Viewer -->
        <div id="viewerDiv" style="height: 65vh"></div>
        <!-- Inspector -->
        <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
        <!-- Coordinate bar -->
        <div id="coordinates"
            style="border-radius: 4px 0 0; font-size: 12px;"
            class="position-absolute bottom-0 end-0 bg-light text-secondary px-2">
        </div>
    </div>

  </div>

  <!-- The code of the example -->
    <script type="module" src="../../examples/getting-started.js"></script>
</body>
</html>
