---
title: Add / Remove layers
shortdesc: Add and remove layers in a Map.
longdesc: Use the <a href="../apidoc/module-entities_Map-Map.html#addLayer">addLayer()</a> and <a href="../apidoc/module-entities_Map-Map.html#removeLayer">removeLayer()</a> methods to add and remove layers in a Map.
---
<div class="dropdown m-3 position-absolute top-0 end-0">
    <button class="btn btn-primary" id="addLayer">Add layer</button>
    <button class="ms-3 btn btn-primary" id="removeLayer">Remove layer</button>
</div>
