---
title: Arbitrary map extents
shortdesc: Create maps with arbitrary extents.
longdesc: Map extents can be of any size. They will be subdivided into tiles accordingly.
---
<div class="dropdown m-3 position-absolute top-0 end-0">
    <button class="btn btn-primary" id="createMap">Create new map</button>
</div>
