---
title: Elevation COG
shortdesc: Display an elevation COG with a color map.
longdesc: A COG that contains elevation data in 32-bit floating point values.
---
<div class="m-2 position-absolute top-0 end-0">

    <!-- Top color layer -->
    <div class="card m-1">
        <div class="container m-1">

            <!-- Activate color map -->
            <div class="row p-1">
                <div class="form-check form-switch">
                    <input class="form-check-input" checked="true" type="checkbox" role="switch" id="colormap-enable">
                    <label class="form-check-label" for="colormap-enable">Color map</label>
                </div>
            </div>

        </div>
    </div>

</div>
