---
title: No-data elimination
shortdesc: Display an elevation COG and discard no-data values.
longdesc: The <code>discardNoData</code> option in the <code>Map</code> allows to only display portions of the map where elevation data is present. Portions with no data are discarded.
---
