---
title: Color maps
shortdesc: Create color maps to interpret elevation, slope and aspect with custom color ramps.
longdesc: Color maps are useful to colorize an elevation dataset. You can change the color map's properties dynamically, such as the min and max values, the color gradients, or disable the color map entirely. Color maps can be applied on both elevation layers and color layers.
---
<div class="m-2 position-absolute top-0 end-0">

    <!-- Top color layer -->
    <div class="card m-1">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" checked="true" type="checkbox" role="switch" id="top-layer-enable">
                <label class="form-check-label" for="top-layer-enable">Top color layer</label>
            </div>
        </div>

        <fieldset class="container m-1" id="top-options">

            <!-- Activate color map -->
            <div class="row p-1">
                <div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" checked="true" type="checkbox" role="switch" id="top-colormap-enable">
                        <label class="form-check-label" for="top-colormap-enable">Color map</label>
                    </div>
                </div>
            </div>

            <!-- Select color map mode -->
            <fieldset class="row p-1" id="top-colormap-options">
                <div class="input-group mb-3">
                    <span class="input-group-text flex-grow-1">Mode</span>
                    <select class="btn btn-outline-primary btn-sm" id="top-mode">
                        <option>elevation</option>
                        <option>slope</option>
                        <option>aspect</option>
                    </select>
                    <select class="btn btn-outline-primary btn-sm" id="top-gradient">
                        <option selected="selected">viridis</option>
                        <option>jet</option>
                        <option>blackbody</option>
                        <option>earth</option>
                        <option>bathymetry</option>
                        <option>magma</option>
                        <option>par</option>
                    </select>
                </div>
            </fieldset>

        </fieldset>
    </div>

    <!-- Bottom color layer -->
    <div class="card m-1">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" checked="true" type="checkbox" role="switch" id="bottom-layer-enable">
                <label class="form-check-label" for="bottom-layer-enable">Bottom color layer</label>
            </div>
        </div>

        <fieldset class="container m-1" id="bottom-options">

            <!-- Activate color map -->
            <div class="row p-1">
                <div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" checked="true" type="checkbox" role="switch" id="bottom-colormap-enable">
                        <label class="form-check-label" for="bottom-colormap-enable">Color map</label>
                    </div>
                </div>
            </div>

            <!-- Select color map mode -->
            <fieldset class="row p-1" id="bottom-colormap-options">
                <div class="input-group mb-3">
                    <span class="input-group-text flex-grow-1">Mode</span>
                    <select class="btn btn-outline-primary btn-sm" id="bottom-mode">
                        <option>elevation</option>
                        <option>slope</option>
                        <option>aspect</option>
                    </select>
                    <select class="btn btn-outline-primary btn-sm" id="bottom-gradient">
                        <option>viridis</option>
                        <option selected="selected">jet</option>
                        <option>blackbody</option>
                        <option>earth</option>
                        <option>bathymetry</option>
                        <option>magma</option>
                        <option>par</option>
                    </select>
                </div>
            </fieldset>

        </fieldset>
    </div>

    <!-- Elevation layer -->
    <div class="card m-1">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" checked="true" type="checkbox" role="switch" id="elevation-layer-enable">
                <label class="form-check-label" for="elevation-layer-enable">Elevation layer</label>
            </div>
        </div>

        <fieldset class="container m-1" id="elevation-options">

            <!-- Activate color map -->
            <div class="row p-1">
                <div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" checked="true" type="checkbox" role="switch" id="elevation-colormap-enable">
                        <label class="form-check-label" for="elevation-colormap-enable">Color map</label>
                    </div>
                </div>
            </div>

            <!-- Select color map mode -->
            <fieldset class="row p-1" id="elevation-colormap-options">
                <div class="input-group mb-3">
                    <span class="input-group-text flex-grow-1">Mode</span>
                    <select class="btn btn-outline-primary btn-sm" id="elevation-mode">
                        <option>elevation</option>
                        <option>slope</option>
                        <option>aspect</option>
                    </select>
                    <select class="btn btn-outline-primary btn-sm" id="elevation-gradient">
                        <option>viridis</option>
                        <option>jet</option>
                        <option>blackbody</option>
                        <option selected="selected">earth</option>
                        <option>bathymetry</option>
                        <option>magma</option>
                        <option>par</option>
                    </select>
                </div>
            </fieldset>

        </fieldset>
    </div>
</div>
