---
title: Hillshading
shortdesc: Enable hillshading and set sunlight azimuth and angle.
longdesc: Hillshading is a realistic shading technique that uses a terrain's surface to simulate the sunlight behaviour. You can change the sun rays' orientation (azimuth) and slope (zenith).
---
<div class="m-2 position-absolute top-0 end-0">
    <!-- Hillshading -->
    <div class="card m-1">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" checked="true" role="switch" id="hillshadingCheckbox">
                <label class="form-check-label" for="hillshadingCheckbox">Hillshading</label>
            </div>
        </div>

        <fieldset class="container m-1" id="hillshadingOptions">
            <label for="azimuthSlider" class="form-label">Azimuth (0 - 360)</label>
            <div class="input-group">
                <input type="range" min="0" max="360" value="315" class="slider" id="azimuthSlider">
            </div>

            <div class="my-2"></div>

            <label for="zenithSlider" class="form-label">Zenith (0 - 90)</label>
            <div class="input-group">
                <input type="range" min="0" max="90" value="45" class="slider" id="zenithSlider">
            </div>
        </fieldset>
    </div>

    <div class="card m-1">
        <fieldset class="container m-1">
            <label for="opacitySlider" class="form-label">Color layer opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="100" value="0" class="slider" id="opacitySlider">
            </div>
        </fieldset>
    </div>
</div>
