---
title: IFC
shortdesc: Display an IFC (Industry Foundation Classes) file.
---
<div class="m-3 position-absolute top-0 end-0">
    <div class="card">
        <h5 class="card-header">Picking</h5>

        <!-- tooltip -->
        <span class="badge bg-secondary position-absolute top-0 end-0 m-2" data-bs-toggle="popover"
            data-bs-content="pickingHelper">?</span>
        <p class="card-text d-none" id="pickingHelper">Picking lets you pick Giro3d and native THREE.js objects, and get
            their coordinates in the CRS of the instance.<br>
            Provides various filtering options to enhance precision and performance.</p>

        <div class="card-body">
            <div class="row">
                <div class="dropdown">
                    <select class="btn btn-primary dropdown-toggle" id="pick_source">
                        <option value="0" selected>Pick from whole scene</option>
                        <option value="1">Pick from IFC model only</option>
                    </select>
                </div>
            </div>

            <!-- Result table -->
            <div style="max-height: 40vh; max-width: 30vw; overflow: auto;">
                <table class="table small">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Object</th>
                            <th scope="col">Coordinate</th>
                            <th scope="col">Distance to camera</th>
                        </tr>
                    </thead>
                    <tbody id="results-body">
                        <tr>
                            <th scope="row" colspan="4">Double-click on the scene for picking</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
