---
title: Dispose instance
shortdesc: Help to test if giro3d correctly deallocates memory.
---
<div class="p-2 m-2 position-absolute top-0 end-0">
    <div class="container card p-2 m-2" id="buttons-container">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" checked="true" role="switch" id="autoreload">
            <label class="form-check-label" for="autoreload">Reload giro3d every 2 seconds</label>
        </div>

        <button id="load_once" class="btn btn-primary">Dispose and reload giro3d once</button>
    </div>
</div>
