---
title: Picking
shortdesc: Pick objects with various methods (GPU picking, raycasting...)
longdesc: Picking is the action of determining what's underneath the mouse cursor. Various picking technique exist, to handle different use cases.
---
<div class="m-2 position-absolute top-0 end-0">
    <div class="card">
        <h5 class="card-header">Picking</h5>

        <!-- tooltip -->
        <span class="badge bg-secondary position-absolute top-0 end-0 m-2" data-bs-toggle="popover"
            data-bs-content="pickingHelper">?</span>
        <p class="card-text d-none" id="pickingHelper">Picking lets you pick Giro3d and native THREE.js objects, and get
            their coordinates in the CRS of the instance.<br>
            Provides various filtering options to enhance precision and performance.</p>

        <div class="card-body">
            <!-- Parameters -->
            <form>
                <div class="row">
                    <div class="dropdown">
                        <select class="btn btn-primary dropdown-toggle" id="pickSource">
                            <option value="0">Pick from whole scene</option>
                            <option value="1">Pick from pointcloud</option>
                            <option value="2" selected>Pick from map</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="radiusSlider" class="col-sm-8 col-form-label">Picking radius</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input id="radiusSlider" type="number" min="0" max="10" value="0" class="form-control" />
                            <span class="input-group-text">px</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="limitSlider" class="col-sm-8 col-form-label">Number of objects (0 for all)</label>
                    <div class="col-sm-4">
                        <input id="limitSlider" type="number" min="0" max="100" value="0" class="form-control" />
                    </div>
                </div>
            </form>

            <!-- Result table -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mode</th>
                        <th scope="col">Time (ms)</th>
                        <th scope="col"># Objects</th>
                        <th scope="col">First object</th>
                        <th scope="col">Coordinate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Picking</th>
                        <td><span id="pickingTiming"></span></td>
                        <td><span id="pickingCount"></span></td>
                        <td><span id="pickingFirstResult"></span></td>
                        <td><span id="pickingCoord"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Raycasting</th>
                        <td><span id="raycastingTiming"></span></td>
                        <td><span id="raycastingCount"></span></td>
                        <td><span id="raycastingFirstResult"></span></td>
                        <td><span id="raycastingCoord"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Projection</th>
                        <td><span id="projectingTiming"></span></td>
                        <td><span id="projectingCount">1</span></td>
                        <td><span id="projectingFirstResult">-</span></td>
                        <td><span id="projectingCoord"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
