---
title: Types of opacity
shortdesc: Illustrates various types of opacity (map, map background, and layer)
---
<div class="m-2 position-absolute top-0 end-0">
    <div class="card">

        <div class="card-body">

            <!-- Map global opacity -->
            <label for="map-opacity" class="form-label">Map opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="1" value="1" step="0.05" class="slider" id="map-opacity">
            </div>

            <div class="my-2"></div>

            <!-- Map background opacity -->
            <label for="bg-opacity" class="form-label">Map background opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="1" value="1" step="0.05" class="slider" id="bg-opacity">
            </div>

            <div class="my-2"></div>

            <!-- Blue layer opacity -->
            <label for="blue-opacity" class="form-label">Blue layer opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="1" value="1" step="0.05" class="slider" id="blue-opacity">
            </div>

            <div class="my-2"></div>

            <!-- Red layer opacity -->
            <label for="red-opacity" class="form-label">Red layer opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="1" value="1" step="0.05" class="slider" id="red-opacity">
            </div>

        </div>
    </div>
</div>
