<div class="container-fluid bd-example bd-example-row">
    <div class="container">
        <div class="row mb-3">
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Instance</h4>
                        <p class="card-text">The entry point in Giro3D, the instance holds the displayed <a href="module-entities_Entity-Entity.html">entities</a> and the rendering engine.</p>
                        <a href="module-core_Instance-Instance.html">Overview</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Entity</h4>
                        <p class="card-text">The base class for displayable data.</p>
                        <a href="module-entities_Entity-Entity.html">Overview</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Map</h4>
                        <p class="card-text">A Map is a surface displaying one or more color layers, and optionally an elevation layer.</p>
                        <a href="module-entities_Map-Map.html">Overview</a><br>
                        <a href="module-core_layer_ColorLayer-ColorLayer.html">Color layers</a><br>
                        <a href="module-core_layer_ElevationLayer-ElevationLayer.html">Elevation layers</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Tiles3D</h4>
                        <p class="card-text">The Tiles3D entity displays 3D Tiles. Giro3D supports different tile formats, such as meshes (.b3dm) and point clouds (.pnts).</p>
                        <a href="module-entities_Tiles3D-Tiles3D.html">Overview</a><br>
                        <a href="https://github.com/CesiumGS/3d-tiles">Specification</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">PotreePointCloud</h4>
                        <p class="card-text">The PotreePointCloud entity displays <a href="https://github.com/potree/potree">Potree</a> point clouds.</p>
                        <a href="module-entities_PotreePointCloud-PotreePointCloud.html">Overview</a><br>
                        <a href="https://github.com/potree/potree">Specification</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Sources</h4>
                        <p class="card-text">Sources describe the data to be displayed in an <a href="module-entities_Entity-Entity.html">entity</a>. Giro3D supports many OpenLayers sources to be displayed in maps, and some additional ones.</p>
                        <a href="https://openlayers.org/en/latest/apidoc/module-ol_source_TileWMS-TileWMS.html">WMS via OpenLayers</a><br>
                        <a href="https://openlayers.org/en/latest/apidoc/module-ol_source_Vector-VectorSource.html">Vectors via OpenLayers</a><br>
                        <a href="https://openlayers.org/en/latest/apidoc/module-ol_source_VectorTile-VectorTile.html">Vector Tiles via OpenLayers</a><br>
                        <a href="module-sources_CogSource-CogSource.html">Cloud Optimized GeoTIFF (COG)</a><br>
                        <a href="module-sources_Tiles3DSource-Tiles3DSource.html">The 3D Tiles source</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Inspector</h4>
                        <p class="card-text">The Inspector provides a GUI to inspect and edit the Giro3D instance.
                            It is a collection of <a href="module-gui_Panel-Panel.html">panels</a>. You can implement custom panels as well.</p>
                        <a href="module-gui_Inspector-Inspector.html">Overview</a><br>
                        <a href="module-gui_Outliner-Outliner.html">The scene outliner</a><br>
                        <a href="module-gui_EntityPanel-EntityPanel.html">The entity panel</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 py-3">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        <h4 class="card-title">Helpers</h4>
                        <p class="card-text">The Helpers class provides utility functions to create helpers in the scene, such as bounding boxes, grids, etc.</p>
                        <a href="module-helpers_Helpers-Helpers.html">Overview</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
